.buttons {
	height: 262px;
}

.buttons button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #002634;
	color: white;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 10pt;

	box-shadow: 0 0 10px 0 #00000044;

	border-radius: 1rem;
	transition: transform 300ms;
}

#display {
	box-shadow: 0 0 10px 0 #00000044;
	color: #002634;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 20pt;
	text-align: right;
}

.buttons button:last-child {
	background: #006c94;
}

.buttons button:hover {
	transform: translate(0, -2px);
}

/** Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	animation: modal 800ms cubic-bezier(0.165, 0.84, 0.44, 1),
		modal 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 4200ms reverse;
	margin: 2rem auto;
}

.nunito {
	font-family: 'Nunito', sans-serif;
}

@keyframes modal {
	from {
		margin: -50px auto;
		display: none;
	}
	to {
		margin: 2rem auto;
	}
}
